.mini-card-info-besoin {
    display: flex;
    padding: 40px 12px;
    flex: 0 0 17rem;
    width: 17rem;
    height: 12rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 40px;
    border: 4px solid #000;
    background: #FFF;
    position: relative;
    z-index: 0;
}

.mini-card-info-besoin::after {
    content: "";
    background-image: url("/src/svg/pictoMiniCard/contour/bullTalking.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 6rem;
    height: 6rem;
    position: absolute;
    z-index: 1;
    top: -3rem;
    left: 1rem;
}

.apprendre::after {
    top: -3.4rem;
    width: 5.4rem;
    height: 5.4rem;
    background-image: url("/src/svg/pictoMiniCard/contour/idea.png");
}

.sensibiliser:after {
    background-image: url("/src/svg/pictoMiniCard/contour/annonce.png");
}

.cree:after {
    top: -3.4rem;
    width: 5.4rem;
    height: 5.4rem;
    background-image: url("/src/svg/pictoMiniCard/contour/connection.png");
}

.former:after {
    top: -3.1rem;
    width: 5.4rem;
    height: 5.4rem;
    background-image: url("/src/svg/pictoMiniCard/contour/teach.png");
}

.renforcer:after {
    background-image: url("/src/svg/pictoMiniCard/contour/table.png");
}

.engager:after {
    top: -3.4rem;
    width: 5.4rem;
    height: 5.4rem;
    background-image: url("/src/svg/pictoMiniCard/contour/starPodium.png");
}

.communiquer:after {
    background-image: url("/src/svg/pictoMiniCard/contour/bullTalking.png");
}



.mini-card-info-besoin-orange {
    box-shadow: 0 12px 0 0 #F6B254;
}

.mini-card-info-besoin-purple {
    box-shadow: 0 12px 0 0 #BB6EF6;
}

.mini-card-info-besoin-blue {
    box-shadow: 0 12px 0 0 #3C61F5;
}

.mini-card-besoin-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem 2rem;
    justify-content: center;
    margin: 0 auto;
    max-width: calc(4 * 17rem + 3 * 3rem);
}


@media screen and (max-width: 1200px) {
    .mini-card-info-besoin {

        height: 13rem;

    }
}

@media screen and (max-width: 768px) {
    .mini-card-info-besoin {

        height: 14rem;

    }
}

.emojie-img-line-container-besoin-child {
    display: flex;
    justify-content: space-between;
}



.emojie-img-line-besoin-child {
    width: 60%;
    height: auto;
    animation: float 6s ease-in-out infinite;
    display: inline-block;
}

.star,
.star2 {
    width: 14%;
    height: auto;
    display: flex;
}

.star img,
.star2 img {
    width: 100%;
    height: auto;

}

.star {
    align-items: flex-end;


}

.star2 {
    align-items: flex-start;
}



.emojie-img-line-container-besoin-child img:nth-child(1) {
    animation-delay: 0s;
}

.emojie-img-line-container-besoin-child img:nth-child(2) {
    animation-delay: 1.2s;
}

.emojie-img-line-container-besoin-child img:nth-child(3) {
    animation-delay: 1.9s;
}

.backgroundBrushType2 {
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.backgroundBrushType2::before {
    content: "";
    position: absolute;
    top: -100%;
    left: 0px;
    right: 0px;
    bottom: -100%;
    background-image: url(/src/svg/backgroundType2.svg);
    background-size: 100%;

    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

@media screen and (max-width: 960px) {


    .backgroundBrushType2::before {
        top: 0%;
        bottom: 0%;
        background-size: cover;
    }
}