i {
  font-style: italic !important;
}

.h1 {
  color: white;
  font-family: "Titan One";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}

.h2 {
  color: white;
  font-family: "Titan One";
  font-size: 1.50rem;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}

.h3 {
  color: white;
  font-family: "Titan One";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}

li {
  margin-left: 14px;
  list-style: disc;
}

p,
.text-typo {
  color: white;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 100;
  line-height: 1.3rem;
  text-underline-offset: 0.3rem;
}

.header-typo-pc {
  font-size: 0.8rem;
  color: white;
  font-family: Poppins;
  font-style: normal;
  font-weight: 100;
  line-height: 0.8rem;
}

a {
  color: #fff;
}

input,
textarea,
.dropdown-toggle {
  font-family: Poppins;
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 100;
}

.dropdown-toggle-container .dropdown-toggle {
  color: #8D8D8D;
}

.header-typo-pc,
.white {
  color: white;
}

.footerTitle {
  color: white;
  font-family: "Titan One";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}

header p {
  color: white;
}

.black {
  color: black;
}

.paterneTitleContainer {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.paterneTitle {
  position: relative;
  background-size: auto;
  background-repeat: repeat;
  background-position: center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  z-index: 2;
  text-shadow: none;
}

.paterneTitleOrange {
  background-image: url(/src/svg/orangePaternFull.svg);
}

.paterneTitleBlue {
  background-image: url(/src/svg/bluePaternFull.svg);
}

.paterneTitlePurple {
  background-image: url(/src/svg/purplePaternFull.svg);
}

.uderline {
  text-decoration-line: underline;
}

.mainPageTitle .white-border {
  background-repeat: repeat;
  background-position: bottom;
  background-size: auto;
  padding-top: calc(3.89rem + 10vh);
  -webkit-text-stroke: 0.1px #ffffff;
  padding-bottom: 1.11rem;

  text-shadow:
    0.0556rem 0 #fff, -0.0556rem 0 #fff,
    0 0.0556rem #fff, 0 -0.0556rem #fff,
    0.0556rem 0.0556rem #fff, -0.0556rem -0.0556rem #fff,
    0.0556rem -0.0556rem #fff, -0.0556rem 0.0556rem #fff,
    0.111rem 0 #fff, -0.111rem 0 #fff,
    0 0.111rem #fff, 0 -0.111rem #fff,
    0.111rem 0.111rem #fff, -0.111rem -0.111rem #fff,
    0.111rem -0.111rem #fff, -0.111rem 0.111rem #fff,
    0.167rem 0 #fff, -0.167rem 0 #fff,
    0 0.167rem #fff, 0 -0.167rem #fff,
    0.167rem 0.167rem #fff, -0.167rem -0.167rem #fff,
    0.167rem -0.167rem #fff, -0.167rem 0.167rem #fff,

    0.222rem 0 #180544, -0.222rem 0 #180544,
    0 0.222rem #180544, 0 -0.222rem #180544,
    0.222rem 0.222rem #180544, -0.222rem -0.222rem #180544,
    0.222rem -0.222rem #180544, -0.222rem 0.222rem #180544,
    0.278rem 0 #180544, -0.278rem 0 #180544,
    0 0.278rem #180544, 0 -0.278rem #180544,
    0.278rem 0.278rem #180544, -0.278rem -0.278rem #180544,
    0.278rem -0.278rem #180544, -0.278rem 0.278rem #180544,
    0.333rem 0 #180544, -0.333rem 0 #180544,
    0 0.333rem #180544, 0 -0.333rem #180544,
    0.333rem 0.333rem #180544, -0.333rem -0.333rem #180544,
    0.333rem -0.333rem #180544, -0.333rem 0.333rem #180544,
    0.389rem 0 #180544, -0.389rem 0 #180544,
    0 0.389rem #180544, 0 -0.389rem #180544,
    0.389rem 0.389rem #180544, -0.389rem -0.389rem #180544,
    0.389rem -0.389rem #180544, -0.389rem 0.389rem #180544,
    0.444rem 0 #180544, -0.444rem 0 #180544,
    0 0.444rem #180544, 0 -0.444rem #180544,
    0.444rem 0.444rem #180544, -0.444rem -0.444rem #180544,
    0.444rem -0.444rem #180544, -0.444rem 0.444rem #180544,
    0.5rem 0 #180544, -0.5rem 0 #180544,
    0 0.5rem #180544, 0 -0.5rem #180544,
    0.5rem 0.5rem #180544, -0.5rem -0.5rem #180544,
    0.5rem -0.5rem #180544, -0.5rem 0.5rem #180544;
}

.paterneTitleContour {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-text-stroke: 0.1px #ffffff;
  text-shadow:
    0.0556rem 0 #fff, -0.0556rem 0 #fff,
    0 0.0556rem #fff, 0 -0.0556rem #fff,
    0.0556rem 0.0556rem #fff, -0.0556rem -0.0556rem #fff,
    0.0556rem -0.0556rem #fff, -0.0556rem 0.0556rem #fff,
    0.111rem 0 #fff, -0.111rem 0 #fff,
    0 0.111rem #fff, 0 -0.111rem #fff,
    0.111rem 0.111rem #fff, -0.111rem -0.111rem #fff,
    0.111rem -0.111rem #fff, -0.111rem 0.111rem #fff,
    0.167rem 0 #fff, -0.167rem 0 #fff,
    0 0.167rem #fff, 0 -0.167rem #fff,
    0.167rem 0.167rem #fff, -0.167rem -0.167rem #fff,
    0.167rem -0.167rem #fff, -0.167rem 0.167rem #fff,

    0.222rem 0 #180544, -0.222rem 0 #180544,
    0 0.222rem #180544, 0 -0.222rem #180544,
    0.222rem 0.222rem #180544, -0.222rem -0.222rem #180544,
    0.222rem -0.222rem #180544, -0.222rem 0.222rem #180544,
    0.278rem 0 #180544, -0.278rem 0 #180544,
    0 0.278rem #180544, 0 -0.278rem #180544,
    0.278rem 0.278rem #180544, -0.278rem -0.278rem #180544,
    0.278rem -0.278rem #180544, -0.278rem 0.278rem #180544,
    0.333rem 0 #180544, -0.333rem 0 #180544,
    0 0.333rem #180544, 0 -0.333rem #180544,
    0.333rem 0.333rem #180544, -0.333rem -0.333rem #180544,
    0.333rem -0.333rem #180544, -0.333rem 0.333rem #180544,
    0.389rem 0 #180544, -0.389rem 0 #180544,
    0 0.389rem #180544, 0 -0.389rem #180544,
    0.389rem 0.389rem #180544, -0.389rem -0.389rem #180544,
    0.389rem -0.389rem #180544, -0.389rem 0.389rem #180544,
    0.444rem 0 #180544, -0.444rem 0 #180544,
    0 0.444rem #180544, 0 -0.444rem #180544,
    0.444rem 0.444rem #180544, -0.444rem -0.444rem #180544,
    0.444rem -0.444rem #180544, -0.444rem 0.444rem #180544,
    0.5rem 0 #180544, -0.5rem 0 #180544,
    0 0.5rem #180544, 0 -0.5rem #180544,
    0.5rem 0.5rem #180544, -0.5rem -0.5rem #180544,
    0.5rem -0.5rem #180544, -0.5rem 0.5rem #180544;
  z-index: 1;
  user-select: none;
  pointer-events: none;
}


.white-border {
  -webkit-text-stroke: 0.1px #ffffff;
  text-shadow:
    0.0556rem 0 #fff, -0.0556rem 0 #fff,
    0 0.0556rem #fff, 0 -0.0556rem #fff,
    0.0556rem 0.0556rem #fff, -0.0556rem -0.0556rem #fff,
    0.0556rem -0.0556rem #fff, -0.0556rem 0.0556rem #fff,
    0.111rem 0 #fff, -0.111rem 0 #fff,
    0 0.111rem #fff, 0 -0.111rem #fff,
    0.111rem 0.111rem #fff, -0.111rem -0.111rem #fff,
    0.111rem -0.111rem #fff, -0.111rem 0.111rem #fff,
    0.167rem 0 #fff, -0.167rem 0 #fff,
    0 0.167rem #fff, 0 -0.167rem #fff,
    0.167rem 0.167rem #fff, -0.167rem -0.167rem #fff,
    0.167rem -0.167rem #fff, -0.167rem 0.167rem #fff;
}

.white-border-small {
  -webkit-text-stroke: 0.1px #ffffff;
  text-shadow:
    0.0139rem 0 #fff, -0.0139rem 0 #fff,
    0 0.0139rem #fff, 0 -0.0139rem #fff,
    0.0139rem 0.0139rem #fff, -0.0139rem -0.0139rem #fff,
    0.0139rem -0.0139rem #fff, -0.0139rem 0.0139rem #fff,
    0.0278rem 0 #fff, -0.0278rem 0 #fff,
    0 0.0278rem #fff, 0 -0.0278rem #fff,
    0.0278rem 0.0278rem #fff, -0.0278rem -0.0278rem #fff,
    0.0278rem -0.0278rem #fff, -0.0278rem 0.0278rem #fff,
    0.0417rem 0 #fff, -0.0417rem 0 #fff,
    0 0.0417rem #fff, 0 -0.0417rem #fff,
    0.0417rem 0.0417rem #fff, -0.0417rem -0.0417rem #fff,
    0.0417rem -0.0417rem #fff, -0.0417rem 0.0417rem #fff;
}

.black-border-small {
  text-shadow:
    0.0139rem 0 #000, -0.0139rem 0 #000,
    0 0.0139rem #000, 0 -0.0139rem #000,
    0.0139rem 0.0139rem #000, -0.0139rem -0.0139rem #000,
    0.0139rem -0.0139rem #000, -0.0139rem 0.0139rem #000,
    0.0278rem 0 #000, -0.0278rem 0 #000,
    0 0.0278rem #000, 0 -0.0278rem #000,
    0.0278rem 0.0278rem #000, -0.0278rem -0.0278rem #000,
    0.0278rem -0.0278rem #000, -0.0278rem 0.0278rem #000,
    0.0417rem 0 #000, -0.0417rem 0 #000,
    0 0.0417rem #000, 0 -0.0417rem #000,
    0.0417rem 0.0417rem #000, -0.0417rem -0.0417rem #000,
    0.0417rem -0.0417rem #000, -0.0417rem 0.0417rem #000;
}

.nav-pc-container .white-border-small {
  -webkit-text-stroke: 0.1px #ffffff;
  text-shadow:
    0.0139rem 0 #fff, -0.0139rem 0 #fff,
    0 0.0139rem #fff, 0 -0.0139rem #fff,
    0.0139rem 0.0139rem #fff, -0.0139rem -0.0139rem #fff,
    0.0139rem -0.0139rem #fff, -0.0139rem 0.0139rem #fff,
    0.0278rem 0 #fff, -0.0278rem 0 #fff,
    0 0.0278rem #fff, 0 -0.0278rem #fff,
    0.0278rem 0.0278rem #fff, -0.0278rem -0.0278rem #fff,
    0.0278rem -0.0278rem #fff, -0.0278rem 0.0278rem #fff,
    0.0333rem 0 #fff, -0.0333rem 0 #fff,
    0 0.0333rem #fff, 0 -0.0333rem #fff,
    0.0333rem 0.0333rem #fff, -0.0333rem -0.0333rem #fff,
    0.0333rem -0.0333rem #fff, -0.0333rem 0.0333rem #fff;
}

.opendyslexic .mainPageTitle .white-border,
.reading .mainPageTitle .white-border {
  background-repeat: repeat;
  background-position: bottom;
  background-size: auto;
  -webkit-text-stroke: 0.1px #ffffff;
  padding-top: calc(1.945rem + 5vh);
  padding-bottom: 0.555rem;
  text-shadow:
    0.0278rem 0 #fff, -0.0278rem 0 #fff,
    0 0.0278rem #fff, 0 -0.0278rem #fff,
    0.0278rem 0.0278rem #fff, -0.0278rem -0.0278rem #fff,
    0.0278rem -0.0278rem #fff, -0.0278rem 0.0278rem #fff,
    0.0555rem 0 #fff, -0.0555rem 0 #fff,
    0 0.0555rem #fff, 0 -0.0555rem #fff,
    0.0555rem 0.0555rem #fff, -0.0555rem -0.0555rem #fff,
    0.0555rem -0.0555rem #fff, -0.0555rem 0.0555rem #fff,
    0.0835rem 0 #fff, -0.0835rem 0 #fff,
    0 0.0835rem #fff, 0 -0.0835rem #fff,
    0.0835rem 0.0835rem #fff, -0.0835rem -0.0835rem #fff,
    0.0835rem -0.0835rem #fff, -0.0835rem 0.0835rem #fff,

    0.111rem 0 #180544, -0.111rem 0 #180544,
    0 0.111rem #180544, 0 -0.111rem #180544,
    0.111rem 0.111rem #180544, -0.111rem -0.111rem #180544,
    0.111rem -0.111rem #180544, -0.111rem 0.111rem #180544,
    0.139rem 0 #180544, -0.139rem 0 #180544,
    0 0.139rem #180544, 0 -0.139rem #180544,
    0.139rem 0.139rem #180544, -0.139rem -0.139rem #180544,
    0.139rem -0.139rem #180544, -0.139rem 0.139rem #180544,
    0.166rem 0 #180544, -0.166rem 0 #180544,
    0 0.166rem #180544, 0 -0.166rem #180544,
    0.166rem 0.166rem #180544, -0.166rem -0.166rem #180544,
    0.166rem -0.166rem #180544, -0.166rem 0.166rem #180544,
    0.194rem 0 #180544, -0.194rem 0 #180544,
    0 0.194rem #180544, 0 -0.194rem #180544,
    0.194rem 0.194rem #180544, -0.194rem -0.194rem #180544,
    0.194rem -0.194rem #180544, -0.194rem 0.194rem #180544,
    0.222rem 0 #180544, -0.222rem 0 #180544,
    0 0.222rem #180544, 0 -0.222rem #180544,
    0.222rem 0.222rem #180544, -0.222rem -0.222rem #180544,
    0.222rem -0.222rem #180544, -0.222rem 0.222rem #180544,
    0.25rem 0 #180544, -0.25rem 0 #180544,
    0 0.25rem #180544, 0 -0.25rem #180544,
    0.25rem 0.25rem #180544, -0.25rem -0.25rem #180544,
    0.25rem -0.25rem #180544, -0.25rem 0.25rem #180544;
}

.opendyslexic .paterneTitleContour,
.reading .paterneTitleContour {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-text-stroke: 0.1px #ffffff;
  text-shadow:
    0.0278rem 0 #fff, -0.0278rem 0 #fff,
    0 0.0278rem #fff, 0 -0.0278rem #fff,
    0.0278rem 0.0278rem #fff, -0.0278rem -0.0278rem #fff,
    0.0278rem -0.0278rem #fff, -0.0278rem 0.0278rem #fff,
    0.0555rem 0 #fff, -0.0555rem 0 #fff,
    0 0.0555rem #fff, 0 -0.0555rem #fff,
    0.0555rem 0.0555rem #fff, -0.0555rem -0.0555rem #fff,
    0.0555rem -0.0555rem #fff, -0.0555rem 0.0555rem #fff,
    0.0835rem 0 #fff, -0.0835rem 0 #fff,
    0 0.0835rem #fff, 0 -0.0835rem #fff,
    0.0835rem 0.0835rem #fff, -0.0835rem -0.0835rem #fff,
    0.0835rem -0.0835rem #fff, -0.0835rem 0.0835rem #fff,

    0.111rem 0 #180544, -0.111rem 0 #180544,
    0 0.111rem #180544, 0 -0.111rem #180544,
    0.111rem 0.111rem #180544, -0.111rem -0.111rem #180544,
    0.111rem -0.111rem #180544, -0.111rem 0.111rem #180544,
    0.139rem 0 #180544, -0.139rem 0 #180544,
    0 0.139rem #180544, 0 -0.139rem #180544,
    0.139rem 0.139rem #180544, -0.139rem -0.139rem #180544,
    0.139rem -0.139rem #180544, -0.139rem 0.139rem #180544,
    0.166rem 0 #180544, -0.166rem 0 #180544,
    0 0.166rem #180544, 0 -0.166rem #180544,
    0.166rem 0.166rem #180544, -0.166rem -0.166rem #180544,
    0.166rem -0.166rem #180544, -0.166rem 0.166rem #180544,
    0.194rem 0 #180544, -0.194rem 0 #180544,
    0 0.194rem #180544, 0 -0.194rem #180544,
    0.194rem 0.194rem #180544, -0.194rem -0.194rem #180544,
    0.194rem -0.194rem #180544, -0.194rem 0.194rem #180544,
    0.222rem 0 #180544, -0.222rem 0 #180544,
    0 0.222rem #180544, 0 -0.222rem #180544,
    0.222rem 0.222rem #180544, -0.222rem -0.222rem #180544,
    0.222rem -0.222rem #180544, -0.222rem 0.222rem #180544,
    0.25rem 0 #180544, -0.25rem 0 #180544,
    0 0.25rem #180544, 0 -0.25rem #180544,
    0.25rem 0.25rem #180544, -0.25rem -0.25rem #180544,
    0.25rem -0.25rem #180544, -0.25rem 0.25rem #180544;
  z-index: 1;
  user-select: none;
  pointer-events: none;
}

.opendyslexic .white-border,
.reading .white-border {
  -webkit-text-stroke: 0.1px #ffffff;
  text-shadow:
    0.0278rem 0 #fff, -0.0278rem 0 #fff,
    0 0.0278rem #fff, 0 -0.0278rem #fff,
    0.0278rem 0.0278rem #fff, -0.0278rem -0.0278rem #fff,
    0.0278rem -0.0278rem #fff, -0.0278rem 0.0278rem #fff,
    0.0555rem 0 #fff, -0.0555rem 0 #fff,
    0 0.0555rem #fff, 0 -0.0555rem #fff,
    0.0555rem 0.0555rem #fff, -0.0555rem -0.0555rem #fff,
    0.0555rem -0.0555rem #fff, -0.0555rem 0.0555rem #fff,
    0.0835rem 0 #fff, -0.0835rem 0 #fff,
    0 0.0835rem #fff, 0 -0.0835rem #fff,
    0.0835rem 0.0835rem #fff, -0.0835rem -0.0835rem #fff,
    0.0835rem -0.0835rem #fff, -0.0835rem 0.0835rem #fff;
}



b {
  font-weight: bold;
}

header .highlight, header .highlight-no-annim, header .highlight a,header .header-typo-pc .white-border-small {
  font-weight: bold;
}

html {
  font-size: 13px;
}

.link-underline-black {
  text-decoration-line: underline;
  text-decoration-color: rgb(0, 0, 0);
}

.black .link-underline-black {
  color: black;
}



@media(max-width: 768px) {
  .modal .highlight-no-annim::before {
    display: none;
  }
}

/* Tablette ≥ 768px */
@media (min-width: 768px) and (max-width: 1199px) {
  html {
    font-size: 14px;
  }

  .h1 {
    font-size: 5rem;
  }

  .h2 {
    font-size: 2rem;
  }
}

/* Desktop ≥ 1200px et < 1600px */
@media (min-width: 1200px) and (max-width: 1599px) {
  html {
    font-size: 16px;
  }

  .h1 {
    font-size: 5rem;
  }

  .h2 {
    font-size: 2rem;
  }
}

/* Large desktop ≥ 1600px et < 1900px */
@media (min-width: 1600px) and (max-width: 1899px) {
  html {
    font-size: 17px;
  }

  .h1 {
    font-size: 5rem;
  }

  .h2 {
    font-size: 2rem;
  }

}

/* Ultra large ≥ 1900px */
@media (min-width: 1900px) {
  html {
    font-size: 18px;
  }

  .h1 {
    font-size: 5rem;
  }

  .h2 {
    font-size: 2rem;
  }

}

/* Très grand écran ≥ 1900px et < 2500px */
@media (min-width: 1900px) and (max-width: 2499px) {
  html {
    font-size: 20px;
  }

  .h1 {
    font-size: 5.5rem;
  }

  .h2 {
    font-size: 2.5rem;
  }

}

/* Écran ultra-large (2K / QHD) ≥ 2500px et < 3840px */
@media (min-width: 2500px) and (max-width: 3839px) {
  html {
    font-size: 22px;
  }

  .h1 {
    font-size: 6rem;
  }

  .h2 {
    font-size: 2.75rem;
  }
}

/* Téléviseur 4K ≥ 3840px et < 7680px */
@media (min-width: 3840px) and (max-width: 7679px) {
  html {
    font-size: 30px;
  }

  .h1 {
    font-size: 6.5rem;
  }

  .h2 {
    font-size: 3rem;
  }
}

/* Téléviseur 8K ≥ 7680px */
@media (min-width: 7680px) {
  html {
    font-size: 26px;
  }

  .h1 {
    font-size: 7rem;
  }

  .h2 {
    font-size: 3.5rem;
  }
}