header {
    top: 10px;
    width: 96vw;
    margin-left: 2vw;
    height: fit-content;
    position: fixed;
    z-index: 1001;
}


.barre-toggle {
    height: 4px;
    width: 30px;
    background-color: #fff;
    border-radius: 50px;
    transition: transform 0.3s ease;
}

#menu-toggle {
    margin-right: 10px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1001;

}

#menu-toggle.active .barre-toggle:nth-child(1) {
    transform: rotate(45deg) translate(6px, 5px);
}

#menu-toggle.active .barre-toggle:nth-child(2) {
    opacity: 0;
}

#menu-toggle.active .barre-toggle:nth-child(3) {

    transform: rotate(-45deg) translate(6px, -5px);
}

.nav-pc {
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 0.5rem 0 .7rem 0;
    width: 100%;
    border-radius: 120px;
    background: rgba(6, 0, 19, 0.80);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15), 0 -4px 6px 0 rgba(0, 0, 0, 0.10) inset;
    backdrop-filter: blur(11px);
}

.nav-pc-container,
.nav-pc-container-end {
    width: 100%;
    gap: 4vw;
    display: flex;
    align-items: center;
    margin-left: 2vw;
}

.nav-pc-container .highlight::before,
.nav-pc-container-end .highlight::before {
    inset: -0.5rem;
}

.nav-pc-container-end {
    margin-left: 0;
    margin-right: 2vw;
    justify-content: flex-end;
}

.menu-pc-container {
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
}

.menu-tel-nav a {
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu-tel-nav .img-logo {
    height: auto;
    width: 30px;
}

.img-container-header {
    width: 26%;
}

.img-container-header img {
    max-width: 100%;
    max-height: 4rem;
}

/* .img-container-header-tel {
    display: flex;
    justify-content: center;
    margin-left: -20px;
    width: 100%;

} */

.img-container-header-tel a {
    display: block;
    width: 20vw;
    max-width: 100px;
}

.img-container-header-tel img {
    width: 100%;
}


#menu-tel {
    margin-top: -10px;
    display: none;
    flex-direction: column;
    height: calc(100vh - 20vw + 10px);
    min-height: calc(100vh - 70px);
    width: 100vw;
    background-color: rgba(6, 0, 19, 1);
    transition: transform 0.4s ease-in-out;
    position: relative;
    overflow: hidden;
    transform: translateY(-100%);
}

#menu-tel::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url(/src/svg/paternHeader.svg) center/cover no-repeat;
    opacity: 0.3;
    pointer-events: none;
    z-index: 0;
}


#btn-slide,
#btn-back {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#btn-back {
    transform: rotate(-180deg)
}

.btn-slide-container {
    display: flex;
    align-items: center;
    gap: 10px;
}


.menu-tel-nav,
.menu-tel-sub {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease;
    margin-top: 10px;

}

.menu-tel-sub-container {
    margin-left: 20px;
    display: flex;
    flex-direction: column;

    height: 100%;
    justify-content: space-around;
    align-items: flex-start;
}


.menu-tel-sub {
    transform: translateX(100%);
}

#menu-tel.slide-sub .menu-tel-nav {
    transform: translateX(-100%);
}

#menu-tel.slide-sub .menu-tel-sub {
    transform: translateX(0);
}


#menu-tel.open {
    transform: translateY(0);
}


.menu-tel-nav a,
.menu-tel-sub a {
    font-family: Poppins;
}

.menu-tel-nav {
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    align-items: flex-start;
}


.contenaire-propos-text-paragraph {
    margin-bottom: 20px;
}

.logoHeaderPhone {
    margin-left: 10px;
    width: 30vw;
    max-width: 200px;
    min-width: 115px;
}

/* Container pour garder le hover */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Sous-menu caché par défaut */
.dropdown-menu {
    overflow-y:auto;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 0px 0px 8px 8px;
    background: rgba(6, 0, 19, 0.80);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15), 0 -4px 6px 0 rgba(0, 0, 0, 0.10) inset;
    backdrop-filter: blur(11px);
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease;
    min-width: 250px;
    z-index: 999;
}

/* Scrollbar personnalisé (Chrome, Edge, Safari) */
.dropdown-menu::-webkit-scrollbar,
html::-webkit-scrollbar {
    width: 8px;
}

.dropdown-menu::-webkit-scrollbar-track,
html::-webkit-scrollbar-track {
    scrollbar-color: rgba(255, 255, 255, 0.3) rgba(0, 0, 0, 0.500);
}

.dropdown-menu::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    transition: background 0.2s;
}

.dropdown-menu::-webkit-scrollbar-thumb:hover,
html::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.6);
}

/* Scrollbar Firefox */
.dropdown-menu,
html {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) rgba(0, 0, 0, 0.500);
}


.dropdown-menu a {
    padding: 10px 16px;
    transition: background 0.2s ease;
}

.dropdown-menu a:hover {
    background: #3C61F5;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-text-arrow {
    display: flex;
    align-items: center;
    position: relative;
    gap: 8px;

}

.dropdown-arrow .line1,
.dropdown-arrow .line2 {
    height: 2px;
    width: 7px;
    background: white;
    border-radius: 2px;
    position: relative;
    z-index: 0;
}


.highlight .dropdown-arrow::before {
    top: 0;
    position: absolute;
    content: "";
    height: 3px;
    z-index: -1;
    width: 8px;
    background: rgb(0, 0, 0);
    border-radius: 2px;
    left: 50%;
    transform: rotate(-135deg) translate(1px, -4.6px) ;
}

.highlight .dropdown-arrow::after {
    top: 0;
    position: absolute;
    content: "";
    height: 3px;
    z-index: -1;
    width: 8px;
    background: rgb(0, 0, 0);
    border-radius: 2px;
    left: 0;
    transform: rotate(135deg) translate(-0.2px, 0.8px) ;
}




.dropdown-arrow .line1 {
    transform: rotate(45deg) translate(2px, 2px);
}

.dropdown-arrow .line2 {
    transform: rotate(-45deg) translate(2px, -2px);
}

.dropdown .dropdown-arrow {
    transition: all 0.3s ease;
    transform: rotate(270deg);
}

.dropdown:hover .dropdown-arrow {
    transform: rotate(90deg);
}

#menu-centrage-toggle {
    display: none;
    align-items: center;
    height: 20vw;
    max-height: 80px;
    width: 100vw;
    background: rgba(6, 0, 19, 0.90);
    backdrop-filter: blur(11px);
    justify-content: space-between;
    position: relative;
    z-index: 1000;
}

#menu-centrage-toggle a {
    display: flex;

}

.nav-pc .header-typo-pc {
    transition: transform 0.2s;
}

.nav-pc .header-typo-pc:hover {
    transform: scale(1.04);
}

@media screen and (max-width: 960px) {
    header {
        top: 0;
        margin-left: 0;
    }

    #menu-centrage-toggle {
        display: flex;
    }

    .menu-pc-container {
        display: none;
    }

    header {
        background-color: initial;
        height: auto;
    }

    .contenaire-width {
        width: calc(100% - 40px);
        margin-left: 20px;
    }
}

/* FOOTER */

footer {
    background-color: var(--darkBackgroundColor) !important;
    border-radius: 120px 120px 0 0 !important;
    padding: 8em 0 0px 0px !important;
}

.footer-nav {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 60px;
    text-align: center;
}


.footer-nav-row {
    display: flex;
    flex-direction: column;
    width: 14rem;
    gap: 0px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerLogo img {
    height: auto;
    width: 20rem;
}

.footerLogo {
    display: flex;
    justify-content: center;
}

.footer-bot-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: right;
    justify-items: center;
    gap: 10%;
}


.footer-bot-img-container {
    display: flex;
    gap: 10px;
}

.footer-bot-img-container img {
    width: 4rem;
}

.footerTitle {
    margin-bottom: 6px;
}

.footerLogoImg {
    width: 8rem;
    margin-bottom: 8rem;
}

.footerLogoImg img {
    width: 100%;
}

.footer-bot-container a {
    width: fit-content;
}

.footer-bot-container .link-underline {
    text-align: end;
}

.footer-map-legal {
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

@media screen and (max-width: 960px) {
    .footer-bot-container {

        display: flex;
        flex-direction: column;
        gap: 6rem;

    }

}

@media screen and (max-width: 460px) {
    .footer-nav {

        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;


    }

}

.link-underline {
    text-decoration-line: underline;
    text-decoration-color: rgb(255, 255, 255);
}