.intro-paragraphe {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  max-width: 50vw;
  text-align: center;
  width: 100%;
  height: 100%;
}

.intro-paragraphe-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.backgroundType1Annim {
  width: 30vw;

}

.leftbackgroundType1,
.rightbackgroundType1 {
  opacity: 0;
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.leftbackgroundType1 {
  transform: translateX(70%);
}

.rightbackgroundType1 {
  transform: translateX(-70%) scaleX(-1);
}

.reflect.visibleBackgroundType1Annim {
  animation: bounceInStrayRight 1.5s ease;
  transform: translateX(-30%) scaleX(-1);
  opacity: 1;
}

.visibleBackgroundType1Annim {
  animation: bounceInStrayLeft 1.5s ease;
  transform: translateX(30%);
  opacity: 1;
}


@keyframes bounceInStrayRight {
  0% {
    transform: translateX(-90%) scaleX(-1);
  }

  50% {
    transform: translateX(-25%) scaleX(-1);
  }

  100% {
    transform: translateX(-30%) scaleX(-1);
  }
}

@keyframes bounceInStrayLeft {
  0% {
    transform: translateX(90%);
  }

  50% {
    transform: translateX(25%);
  }

  100% {
    transform: translateX(30%);
  }
}

.backgroundType2Annim {
  position: absolute;
  top: -37.2vw;
  width: 50vw;
  height: 50vw;
  background-image: url("/src/svg/backgroundType1.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.8s ease;
}

.backgroundType2Annim.left {
  left: 0;
  transform: translateY(-10%) rotate(-90deg);
}

.backgroundType2Annim.right {
  right: 0;
  transform: translateY(-10%) rotate(90deg) scaleX(-1);
}

.backgroundType2Annim.visibleBackgroundType2Annim.left {

  transform: translateY(0) rotate(-90deg);
  opacity: 1;
  animation: bounceInLeft 1.5s ease;
}

.backgroundType2Annim.visibleBackgroundType2Annim.right {
  transform: translateY(0) rotate(90deg) scaleX(-1);
  opacity: 1;
  animation: bounceInRight 1.5s ease;
}

@keyframes bounceInRight {
  0% {
    transform: translateY(-10%) rotate(90deg) scaleX(-1);
  }

  50% {
    transform: translateY(2%) rotate(90deg) scaleX(-1);
  }

  100% {
    transform: translateY(0) rotate(90deg) scaleX(-1);
  }
}

@keyframes bounceInLeft {
  0% {
    transform: translateY(-10%) rotate(-90deg);
  }

  50% {
    transform: translateY(2%) rotate(-90deg);
  }

  100% {
    transform: translateY(0) rotate(-90deg);
  }
}

.visibleHighlight {

  opacity: 1;
}

@media screen and (max-width: 960px) {

  .backgroundType1Annim,
  .backgroundType2Annim {
    width: 0;

  }

  .intro-paragraphe {
    line-height: 1.5;
    max-width: 90vw;
    text-align: center;
    width: 100%;
    height: 100%;
  }

}

/* Memories */



.memory-game {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.game-board {
  display: grid;
  padding: 2vw;
  background-image: url(/src/svg/brush-background-memories.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  grid-template-columns: repeat(3, 12vw);
  gap: 7vw 5vw;
}

.intro-paragraphe .h3 {
  line-height: 1.5rem;
}

.memory-game-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

.game-info .text-typo {
  color: #000;
  width: 16vw;
  margin-bottom: 10px;
}

.card {
  width: 12vw;
  height: 12vw;
  cursor: pointer;
  user-select: none;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  background-image: url(/src/svg/carteMemories.svg);
  background-size: cover;
  background-position: center;

  transform-style: preserve-3d;
}

.card:hover {
  transform: scale(1.02);
}

.card.flipped {
  transform: rotateY(180deg) !important;
  box-shadow: none;
}

.game-info {
  width: 30vw;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.game-info img {
  transform: rotateY(180deg);
  width: 16vw;
  border-radius: 10px;
  margin-bottom: 15px;
}

.game-button-nav {
  gap: 30px;
  margin-bottom: 10px;
  display: flex;
}

.game-button {
  width: fit-content;
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.game-button img {
  width: 4vw !important;
  min-width: 50px;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
}


.toggle-checkbox:checked~.memory-game-container {
  display: none;
}

.memory-no-game img {
  transform: scalex(-1);
}


.memory-no-game-container-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  align-items: end;
}

.memory-no-game {
  display: flex;
  gap: 20px;
}

.memory-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 30vw
}

.memory-item img {
  width: 40%;
}

.memory-item-text {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  gap: 18px;
  padding: 18px 24px;
  border-radius: 40px;
  border: 4px solid #000;
  background: #FFF;
  height: 100%;
  justify-content: space-evenly;
}

.orange-shadow-box {
  box-shadow: 0 12px 0 0 #F6B254;
}

.purple-shadow-box {
  box-shadow: 0 12px 0 0 #BB6EF6;
}

.blueu-shadow-box {
  box-shadow: 0 12px 0 0 #3C61F5;
}

.game-info-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.memory-item h3 {
  color: #000;
}

.memory-item p {
  color: #000;
}

.game-button-arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0px;
  width: fit-content;
}

.game-btn-arrow {
  height: 30px;
  width: fit-content !important;
}


@media screen and (max-width: 650px) {
  .memory-no-game {
    flex-direction: column;
    gap: 100px
  }

  .memory-item {
    width: 100%;
    ;
  }

  .game-btn-arrow {
    height: 30px;
    width: fit-content !important;
  }

}

@media screen and (max-width: 960px) {

  .memory-game-container {
    flex-direction: column-reverse;
    gap: 40px;
  }

  .game-board {
    display: grid;
    background-image: none;
    grid-template-columns: repeat(2, 40vw);
    gap: 15px;
  }

  .game-info {
    width: 100%;
  }

  .card {
    width: 40vw;
    height: 40vw;
  }

  .game-info .text-typo {
    width: 60vw;
    margin-bottom: 15px;
  }

  .game-info-text {
    width: 80vw;
  }

  .game-info img {
    width: 45vw;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  .game-button img {
    width: 10vw !important;

  }

  .game-btn-arrow {
    height: 30px;
    width: fit-content !important;
  }

}

/* puzzle taquin */

.puzzle {
  overflow: hidden;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(3, 10vw);
  grid-template-rows: repeat(3, 10vw);
  gap: 2px;
  background: #fff;
  border: 4px solid #fff;
  width: fit-content;
  height: fit-content;
  transition: background 0.3s ease;

}

.piece {
  width: 10vw;
  height: 10vw;
  background-image: url("/src/img/loooperFonder.jpg");
  background-size: 30vw 30vw;
  cursor: pointer;
  transition: transform 0.3s ease, border 0.3s ease, background 0.3s ease;

}

.vide {
  background: transparent;
  cursor: default;
  transition: background 0.3s ease;
}

.puzzle.gagne {
  border: 0px solid transparent;
  background: transparent;
  cursor: default;
  zoom: 1.02287;
}

.puzzle.gagne .piece {
  border: 0px solid transparent;
  cursor: default;
  zoom: 1.03;
}

.puzzle.gagne .vide {
  background-image: url("/src/img/loooperFonder.jpg");
  background-size: 30vw 30vw;
}

@media screen and (max-width: 960px) {
  .puzzle {
    grid-template-columns: repeat(3, 30vw);
    grid-template-rows: repeat(3, 30vw);
  }

  .piece {
    width: 30vw;
    height: 30vw;
    background-size: 90vw 90vw;
  }

  .puzzle.gagne .vide {

    background-size: 90vw 90vw;
  }
}