.modal-container-img {
    width: 47%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.modal-container-img img {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}

.modal-container-project {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding-bottom: 34px;
}

.modal-container {
    margin-bottom: 30px;
}

.modal-container-project-info {
    width: 47%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.modal .modal-container-project-info .btn-project {
    margin-top: 0px;
    margin-bottom: 10px;
}

.modal {
    overflow-y: auto;
    justify-content: space-evenly;
}

.project-modal {
    min-height: auto;
    gap: 40px;
}

@media screen and (max-width: 960px) {
    .modal-container-img {
        width: 80%;
        height: fit-content;
    }

    .modal-container-project {
        flex-direction: column;
        gap: 2rem;
        justify-content: start;
        height: fit-content;
        align-items: center;

    }

    .modal-container-project-info {
        width: 80%;
        height: fit-content;
        gap: 2rem;
        padding-bottom: 0px;
    }

    .modal {
        justify-content: start;
    }

    .project-modal {
        min-height: 70vh;
        gap: 30px;
    }

    .btn-close {
        scale: 0.8;
    }

    .modal-header {
        width: 90vw;
    }

    .modal-container {
        margin-bottom: 26px;
    }

    .modal-orange {
        box-shadow: 0 12px 0 0 #F6B254;
    }
}