.spacement-map{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
}

.spacement-map-child{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
    margin-left: 40px;
}