@import url(/src/css/reset.css);
@import url(/src/css/color.css);
@import url(/src/css/font.css);
@import url(/src/css/commun.css);
@import url(/src/css/index.css);
@import url(/src/css/header&footer.css);
@import url(/src/css/accessibility.css);
@import url(/src/css/responsive.css);